<head>

                <title>{% block title %}{% endblock %}</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
                
                
                <meta name="viewport" content="width=device-width, initial-scale=1">
                {% load static %}
                <link rel="stylesheet" href="{% static 'themes/Pizza.css' %}" />
                <link rel="stylesheet" href="{% static 'themes/jquery.mobile.icons.min.css' %}"/>
                <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" /> 
                <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
                <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> 
        

                <!--{% load static %}
                <link rel= "stylesheet" type= "text/css" href="{% static 'styles/style.css' %}">
                
                <meta name="viewport" content="width=device-width, initial-scale=1"> !-->
</head>