<!DOCTYPE html>
<html>
    <head>
      

        {% include 'layout.html' %}
        {% load static %}
        <script  src="{% static 'java/menu.js' %}"></script>
    </head>


<body>

    
    {% ifnotequal user "Logged out" %}

        <p>Logged in as: <i>{{cartUser}}</i></p>
        
        <form action = "{% url 'orders:view_logout' %}" class="loginData"> <input type="submit" value="Log Out" id="logout"/>
            {% csrf_token %}
        </form>
        <div style="padding-bottom: 20px;"></div>
        
    {% else %}

        <form action="{% url 'orders:login' %}" class="loginData" method="POST">
            
        {% csrf_token %}
        <input name="username" type="text"/>
        <input name="password" type="password"/>
        <input value="Login" type="submit" style="width: 10%;"/>

        </form>
    

        <form action = "{% url 'orders:signUp' %}" class="loginData"> <input type="submit" value="Sign Up"/></form>

    {% endifnotequal %}

    <!-- Show status of placed order if it exists -->
    {% ifnotequal orderStatus None %}
        {% if orderStatus == 0 %}
        <br>
        <p>Your order is pending.</p>
        {% elif orderStatus == 1 %}
        <br>
        <p>Your order is being delivered.</p>
        {% endif %}


    {% endifnotequal %}

    <!-- Admin order page -->
    {% if msg == "IsSuperUser" %}
        <a href="{% url 'orders:showPlacedOrders' %}"> View Placed Orders </a>
        <br>
        <a href="/../../admin"> Manage Menu Database </a>
    {% else  %} <!-- Show message to user here  otherwise -->
    {{msg}}
    {% endif %}
    

    <!-- Show stuff in the user's cart here ------------------------------------------------------------------------------------ -->
    {% if cart.user != None %}    

    <br><br>
<div class ="left" id="cart">
        
    <h2> Cart </h2>
    <div class ="scroll">
        <div data-form="ui-body-b" class="ui-body ui-body-b ui-corner-all">

        <table id="cart">
            <th>Order</th>
            <th>${{cart.totalPrice}}</th>

            
            {% for mainItem in cartMainItems %}
            <tr style="border-top: 1px solid black;">
                <td >{{mainItem.name}}</td>
                <td>${{mainItem.price}}</td>
                <td>
                    <form action = "{% url 'orders:removeItem' mainItem.id %}"> <input type="submit" value="X"/></form>
                </td>
            
                <!-- Show toppings -->
                
                {% for topping in mainItem.toppings.all %}
                
                <tr>
                    
                    <td style="font-size:smaller"> +  {{topping.name}}</td>
                    <td style="font-size:smaller">${{topping.price}}</td>
                    <td>
                        <form action = "{% url 'orders:removeItem' topping.id mainItem.id %}"> <input type="submit" value="X"/></form>
                    </td>
                    
                </tr>
                
                {% endfor %}

            {% endfor %}
            
        </table>
        <form action = "{% url 'orders:clearOrder' %}"> <input type="submit" value="Remove All Items" data-icon="delete"/></form>

    </div>

    <!-- Option to remove orders, place them, etc. -->
        {% if cart.totalPrice > 0 %}
        <br>
        <div data-form="ui-body-a" data-theme="a" class="ui-body ui-body-a ui-corner-all">
        <form action = "{% url 'orders:showCheckout' %}"> <input type="submit" value="Checkout" data-icon="arrow-r"/></form>
        </div>
        {% endif %}

    {% endif %}
    </div>
    <br>
</div>

<div class="right" id="menu">

    <h1 class="menu-title"> Menu </h1>
    <div class = "scroll">
    {% load static %}
    <img src="{% static 'images/pizza.png' %}" class="menu-image"/>


    <!-- Display menu dictionary --------------------------------------------------------------------------------------------- -->


        {% for menu in menus %}

        <div data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all">

                <button class ="dropdown">{{menu.name}}</button>

                {%if menu.name == "Toppings" or menu.name == "Sub Extras" %}
                <form style="background-color: transparent;">
                    <div data-form="ui-body-c" class="ui-body ui-body-c ui-corner-all" data-theme="c">
                        <label for="select-native-1">Add to:</label><select name="select-native-1" id="select-native-{{menu.name}}">
                        {% for mainItem in cartMainItems %}
                            {% if mainItem.canHaveToppings and mainItem.toppings.count < mainItem.toppingLimit %} <!--and mainItem.toppings.count < mainItem.toppingLimit-->
                                    <option value={{mainItem.id}}>{{mainItem.name}} ({{ mainItem.toppings.count }}/{{mainItem.toppingLimit}})</option>
                            {% endif %}
                        {% endfor %}

                        </select>
                    </div>
                </form>
        {% endif %}

        <table >
        <tbody id="{{menu.name}}">

            <th>
            </th>
                
                

                {% if menu.smallAndLarge %} <!--Add a second column -->
                <th>  </th>
                {% endif %}

                
            

  
            <!-- Individual menu options here-->
            {% for item in items %}
                {% if item.fromMenu.name == menu.name %}
                <tr style="  border-bottom: 1px solid black;">
                    <td>{{item.name}}</td>
                    {% block menuButton %} {% endblock %}
                    <!-- Main items -->
                    {% if  item.fromMenu.name != "Toppings" and item.fromMenu.name != "Sub Extras" %} 
                        <!-- Price info here-->
                        {% if item.smallOnly %}
                        <td>{% include 'addSmallItem.html' %}</td>
                        {% elif item.largeOnly %}
                         <td>{% include 'addLargeItem.html' %}</td>
                        {% else %}
                         <td>{% include 'addSmallItem.html' %} </td><td>{% include 'addLargeItem.html' %}</td> </td>
                        {% endif %}
                    {% else %}
                    <!-- Extra toppings -->
                    <td>{% include 'addTopping.html' %}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="visibility:hidden"></td>
                </tr>
                <tr>
                    <td style="visibility:hidden"></td>
                </tr>
                {% endif %}
            {% endfor %}

        </tbody>
        </table>
    </div>
    <br>  

        {% endfor %}

        </div>
    </div>

</body>

</html>