$col1: rgb(39, 116, 36);
$col2: rgb(68, 32, 18);
$col3: rgb(128, 5, 5);

%baseHeading{
    font-family:sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: $col1;
    outline: 2px as $col3;
    border:2px solid darken($col1, 20%);
    //border-radius: 8px;
    padding:4px;
    width: 400px;
}

h1{
    @extend %baseHeading;
    font-size:  12px;
    text-shadow: 2px 2px black;
}

h2, h3{
    @extend %baseHeading;
    font-size:  36px;
    text-shadow: 2px 2px black;
    padding: 0px;
    margin: 0px;
    width:100%;
}


p {
        @extend %baseHeading;
        font-size:  12px;
        background-color: $col1; 
        outline: none;
        border-radius: 0px;
        width: 400px;
        text-align: center;
        border: 3px solid green

}

.helpText {
    padding-left: 90px;

}

.tab
{
    display:inline-block; width: 10px;
}

.divider
{
    border: 3px solid green;
}

.left
{
    position: fixed;
    left: 10%;
}

.right
{
    position: fixed;
    left: 50%;

}

.scroll
{
    height: 500px;
    overflow: auto;
    width: 500px;
}


body
{
    background: url("/orders/static/images/greenBG.png");
    background-color: darken($col1, 21%);
    color: white;
    margin: auto;
    width: 50%;
    //border: 3px solid green;
    padding: 10px;
    
    align-content: center;
}

table {
    text-align: center;
    background-color: lighten($col2, 21%);
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
    align-content: center;
}

#cart
{
    width: 75%;
}

td
{
    padding: 10px;
}

th
{
    align-content: left;
}

.placedOrdersTable
{
    td, tr
    {
    border: 1px solid black;
    padding: 16px;
    }
}

//Forms --------------------------------------------------
form, #loginMenu, #toppingForm
{   background-color: lighten($col2, 40%);
    border-radius: 1px;
    padding: 4px;
    max-width: 400px;
    

    p
    {
        max-width: 390px;
    }
}

#toppingForm
{
    padding: 1px;
    max-width: 100px;
    input[type=submit]
    {
        padding: 10px 20px;
        white-space: normal;
        font-size: 12px;
    }
}



input[type=submit]
{
    color: white;
    background-color: $col1;
    border: none;
    font-size: 18px;
    padding: 20px 34px;
}


input[type=submit]:hover
{
    color: lighten($col2, 21%);
    background-color: $col2;
}

// -------------------------------------------------------

.buttonLink, .dropdown
{
    background-color: $col1;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

#logout
{
    padding: 4px 4px;
}


.dropdown
{
    padding: 4px 4px;
    border-radius: 50%;
}

a:hover
{
    color: lighten($col2, 21%);
    background-color: $col2;
}


// On screens that are 992px wide or less, go entirely vertical
@media screen and (max-width: 992px) {
    h2 {
  width: 80%;
    }

    .left
    {
    position: relative;
    overflow: visible;
    left: 0%;
    }

    .right
    {
    position: relative;
    overflow: visible;
    left: 0%;
    
    }

    .scroll
    {
    overflow: visible;
    height:auto;
    }


}

//Scrollbar
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
    ; 


  }

  ::-webkit-scrollbar-corner
  {
      display: none;
  }